<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
   <servlet>
  <servlet-name>InitServlet</servlet-name>
  <servlet-class>com.kws.vjf.core.util.InitServlet</servlet-class>
  <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/config/system.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
   <servlet>
    <servlet-name>ExportXLS</servlet-name>
    <servlet-class>com.kws.vjf.core.export.ExportXLS</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.kws.vjf.action.LoginAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterUserAction</servlet-name>
    <servlet-class>com.kws.vjf.action.RegisterUserAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangePasswordAction</servlet-name>
    <servlet-class>com.kws.vjf.action.ChangePasswordAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmailAction</servlet-name>
    <servlet-class>com.kws.vjf.action.EmailAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsAction</servlet-name>
    <servlet-class>com.kws.vjf.action.NewsAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CompanyAction</servlet-name>
    <servlet-class>com.kws.vjf.action.CompanyAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CategoryAction</servlet-name>
    <servlet-class>com.kws.vjf.action.CategoryAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CompanyJobVacncyAction</servlet-name>
    <servlet-class>com.kws.vjf.action.CompanyJobVacncyAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ForgotPasswordAction</servlet-name>
    <servlet-class>com.kws.vjf.action.ForgotPasswordAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FAQsAction</servlet-name>
    <servlet-class>com.kws.vjf.action.FAQsAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SampleResumeAction</servlet-name>
    <servlet-class>com.kws.vjf.action.SampleResumeAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ApplyJobAction</servlet-name>
    <servlet-class>com.kws.vjf.action.ApplyJobAction</servlet-class>
  </servlet>












  
   <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/InitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportXLS</servlet-name>
    <url-pattern>/ExportXLS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterUserAction</servlet-name>
    <url-pattern>/RegisterUserAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePasswordAction</servlet-name>
    <url-pattern>/ChangePasswordAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailAction</servlet-name>
    <url-pattern>/EmailAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsAction</servlet-name>
    <url-pattern>/NewsAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CompanyAction</servlet-name>
    <url-pattern>/CompanyAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryAction</servlet-name>
    <url-pattern>/CategoryAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CompanyJobVacncyAction</servlet-name>
    <url-pattern>/CompanyJobVacncyAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForgotPasswordAction</servlet-name>
    <url-pattern>/ForgotPasswordAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FAQsAction</servlet-name>
    <url-pattern>/FAQsAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SampleResumeAction</servlet-name>
    <url-pattern>/SampleResumeAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApplyJobAction</servlet-name>
    <url-pattern>/ajob</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
